$height: 30px;

.input {
    display: inline-block;
    height: $height;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    color: $color-primary-darken;
    border-radius: 3px;
    border: 1px solid $color-primary-lightly;
    transition: all 0.3s;
    transition-property: border-color, color, box-shadow;

    &:focus {
        outline: 0;
        border-color: $color-primary;
        color: $color-primary-dark;
        box-shadow: 0 2px 5px rgba($color: $color-primary, $alpha: 0.5);
    }
}
