@import '~@styles/variables';

$padding: 12px;

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

// gutter
@for $i from 1 through 24 {
    .row-gutter-#{$i} {
        padding: $padding $padding / 2;

        .column {
            padding: 0 $padding / 2;
            display: flex;
            flex-shrink: 0;
        }

        @for $c from 1 through 24 {
            .column-span-#{$c} {
                width: (100% / $i) * $c;
            }

            .column-offset-#{$c} {
                margin-left: (100% / $i) * $c;
            }
        }
    }
}

// align
.row-align-top {
    align-items: flex-start;
}

.row-align-middle {
    align-items: center;
}

.row-align-bottom {
    align-items: flex-end;
}

// justify
.row-justify-start {
    justify-content: flex-start;
}

.row-justify-end {
    justify-content: flex-end;
}

.row-justify-center {
    justify-content: center;
}

.row-justify-space-around {
    justify-content: space-around;
}

.row-justify-space-between {
    justify-content: space-between;
}
