@import '~@styles/variables';

.proxy-group {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: $color-black-light;
}

.proxy-group-part {
    display: flex;
    align-items: center;
    height: 60px;
}

.proxy-group-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
    width: 120px;
}

.proxy-group-type {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 100px;
    text-align: center;
    background-color: $color-primary-dark;
    color: #fff;
    border-radius: 3px;
}

.proxies-group-card {
    padding: 0;
}

.proxies-group-item {
    border-bottom: 1px solid $color-gray;

    &:last-child {
        border-bottom: none;
    }
}

.proxy-group-tags-container {
    padding: 15px 0;
}

.proxy-group-tags {
    flex: 1;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .proxy-group {
        flex-direction: column;
    }

    .proxy-group-name {
        width: 140px;
    }

    .proxy-group-part {
        width: 100%;
        height: 42px;
        margin-top: 6px;
        justify-content: space-between;
    }

    .proxy-group-type {
        margin-right: 20px;
    }

    .proxy-group-tags-container {
        padding: 5px 0 10px;
    }

    .proxy-group-tags {
        margin-left: 20px;
    }
}
