.proxy-group {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: $color-black-light;
}

@media (max-width: 768px) {
    .proxy-group {
        flex-direction: column;
    }
}
