@import '~@styles/variables';

.external-controller {
    .row {
        padding: 0;
    }

    .alert {
        margin: 10px 0;
    }

    .title,
    .form {
        margin: 15px 0;
    }

    .title {
        margin-top: 15px;
        font-size: 14px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .external-controller {
        // hack <Row />
        .row {
            flex-direction: column;
            align-items: flex-start;
        }

        .title {
            margin: 5px 0;
        }

        .form {
            margin: 5px 0;
        }

        // hack <Col />
        .column {
            width: 100%;
        }

        // hack <Alert />
        .alert {
            display: none;
        }
    }
}
