@import '~@styles/variables';

.settings-card {
    margin-top: 25px;
    padding: 20px 0;

    .column {
        align-items: center;
    }

    .value-column {
        justify-content: flex-end;
    }

    .label {
        font-size: 14px;
        color: $color-primary-darken;
    }
}
