@import '~@styles/variables';

.connections-devices {
    display: flex;
    padding: 8px 2px;
}

.connections-devices-item {
    padding: 4px 0;
    margin-right: 20px;
    font-size: 14px;
    color: $color-gray-darken;
    border-radius: 3px;
    cursor: pointer;
    transition: color .3s ease;

    &.selected {
        color: $color-primary-dark;
    }
}
