.connections-devices-item {
    margin-right: 20px;
    font-size: 14px;
    color: $color-gray-darken;
    border-radius: 3px;
    cursor: pointer;
    transition: color .3s ease;

    &.selected {
        color: $color-primary-dark;
    }
}
