@import '~@styles/variables';

.proxies-list {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
        margin: 8px 0;
        margin-right: 15px;

        &:nth-child(6n) {
            margin-right: 0;
        }
    }
}
