@import '~@styles/variables';

.proxy {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 20px rgba($color-primary-dark, 0.2);
    border-radius: 4px;
}

.proxy-icon {
    margin-top: 12px;
    height: 40px;
    width: 40px;
}

.proxy-name {
    width: 80%;
    margin-top: 6px;
    color: $color-primary-dark;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
