@import '~@styles/variables';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 140px;
}

.sidebar-logo {
    margin-top: 50px;
    width: 60px;
    height: 60px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    .item {
        display: block;
        margin-top: 18px;

        > a {
            display: block;
            width: 120px;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            border-radius: 18px;
            text-align: center;
        }

        > a,
        a:active,
        a:visited {
            color: $color-gray;
            text-decoration: none;
        }

        > a.active {
            background: linear-gradient(to right, $color-primary, $color-primary-dark);
            color: #fff;
            box-shadow: 0 2px 8px rgba($color: $color-primary-dark, $alpha: 0.5);
        }
    }
}
