@import '~@styles/variables';

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    opacity: 0;
    transition: all 2000ms ease-out;
}

.message-show {
    opacity: 1;
    transition: all 2000ms ease-out;
}
